.header {
  height: 774px;
  position: relative;
  background-color: $dark-blue;
  background-image: url('../../img/header/mountains-desktop@1x.jpg');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  color: $white;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    background-image: url('../../img/header/mountains-desktop@2x.jpg');
  }

  @include toTablet {
    height: 628px;
    background-image: url('../../img/header/mountains-tablet@1x.jpg');

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
      background-image: url('../../img/header/mountains-tablet@2x.jpg');
    }
  }

  @include toMobile {
    height: 470px;
    background-position: 70% 100%;
  }
}

.header__content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;

  // погляди как эти полосы реализованы в макете
  &::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%; // 100% это вместе с рамкой, тоесть с padding, который формирует контейнер, как бы мне этот padding вычесть, могу конечно использовать функцию calc(100%-padding).
    height: 100%;
    top: 0;
    bottom: 0;
    opacity: 0.23;
    background-image: repeating-linear-gradient(to right, $white 0px, $white 1px, transparent 2px, transparent 239px);
  }

  @include toTablet {
    &::before {
      content: none;
    }
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 43px;

  @include toTablet {
    padding-top: 36px;
  }

  @include toMobile {
    flex-direction: column;
    align-items: flex-end;
    padding-top: 13px;
  }
}

.header__navigation {
  @include toTablet {
    order: -1;
  }
}

.header__logo {
  @include toTablet {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  @include toMobile {
    position: initial;
    transform: initial;
  }
}

.header__phone {
  flex-shrink: 0;
  text-decoration: none;
  font-weight: bold;
  font-size: 19px;
  line-height: 30px;
  color: inherit;

  @include toTablet {
    font-size: 16px;
  }

  @include toMobile {
    font-size: 14px
  }
}

.header__description {
  position: relative;
  max-width: 48%;
  margin-top: 190px;

  @include toTablet {
    max-width: 72%;
    margin-top: 137px;
  }

  @include toMobile {
    max-width: 80%;
    margin-top: 77px;
  }
}

.header__title {
  margin: 0;
  font-weight: 800;
  font-size: 45px;
  line-height: 55px;

  @include toTablet {
    font-size: 35px;
    line-height: 43px;
  }

  @include toMobile {
    font-size: 27px;
    line-height: 33px;
  }
}

.header__background-text {
  position: absolute;
  margin: 0;
  font-weight: 900;
  font-size: 93px;
  line-height: 113px;
  letter-spacing: 0.07em;
  color: $white;
  text-transform: uppercase;
  opacity: 0.2;
  top: -46px;

  @include toTablet {
    font-size: 69px;
    line-height: 84px;
    top: -33px;
  }

  @include toMobile {
    font-size: 41px;
    line-height: 50px;
    top: -14px;
  }
}

.header__text {
  margin: 0;
  margin-top: 11px;
  font-weight: normal;
  font-size: 19px;
  line-height: 28px;

  @include toTablet {
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
  }

  @include toMobile {
    font-size: 14px;
    line-height: 21px;
  }
}

.header__button {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: inherit;
  text-decoration: none;
  background-color: $blue;
  padding: 20px;
  margin-top: 40px;
  max-width: 246px;
  text-align: center;

  @include toTablet {
    font-size: 14px;
    line-height: 22px;
    padding: 16px;
    max-width: 191px;
  }
}

.header__social {
  margin: 0;
  margin-top: auto;
  margin-bottom: 123px;

  @include toTablet {
    margin-bottom: 92px;
  }
}
