.instructors {
  display: flex;
  padding: 0;
  list-style: none;
}

.instructors__item {
  padding: 15px;
  width: 234px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);

  &:not(:last-child) {
    margin-right: 6px;
  }
}

.instructors__name {
  width: 90px;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
}

.instructors__text {
  margin: 0;
  margin-top: 15px;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.instructors__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
}

.instructors__link {
  display: block;
  border: solid 1px $light-blue;
  width: 24px;
  height: 24px;
  position: relative;
}

.instructors__social-icon {
  fill: #494949;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.instructors__image {
  width: 203px;
  height: 213px;
}
