.offer {
  display: flex;
  padding: 0;
  list-style: none;
  position: relative;
  transition: all ease 0.5s;
  left: 0;
}

.offer__item {
  flex-shrink: 0;
  background-color: $dark-blue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  width: 384px;
  height: 412px;

  &::before {
      content: "";
      position: absolute;
      background: linear-gradient(0deg, black 22.3%, rgba(0, 0, 0, 0) 60%);
      opacity: 0.58;
      width: 100%;
      height: 100%;
  }

  &:not(:last-child) {
      margin-right: 21px;
  }

  @include toMobile {
    max-width: 100%;
  }
}

.offer__item--kavkaz {
  background-image: url('../img/slider/kavkaz@1x.jpg');

  @media (min-resolution: 2dppx) {
      background-image: url("../img/slider/kavkaz@2x.jpg");
  }
}

.offer__item--altay {
  background-image: url('../img/slider/altay@1x.jpg');

  @media (min-resolution: 2dppx) {
    background-image: url("../img/slider/altay@2x.jpg");
  }
}

.offer__item--adygea {
  background-image: url('../img/slider/adygea@1x.jpg');

  @media (min-resolution: 2dppx) {
    background-image: url("../img/slider/adygea@2x.jpg");
  }
}

.offer__link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: $white;
  text-decoration: none;
  cursor: pointer;
  padding: 20px 10px;
  height: 100%;
  position: relative;
  z-index: 1;

  @media (min-width: 768px) {
      padding-left: 20px;
      padding-right: 20px;
  }
}

.offer__text {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin-top: 23px;
}

.offer__details {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 44px;

  & dt {
      font-weight: 300;
      font-size: 12px;
      line-height: 15px;
  }

  & dd {
      margin: 0;
      font-weight: bold;
      font-size: 13px;
      line-height: 158.86%;
  }
}

.offer__wrapper {
  display: flex;
  font-weight: 500;
  justify-content: space-between;

  @include toMobile {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.offer__location {
  padding: 6px;
  text-align: center;
  min-width: 115px;
  background-color: $blue;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  order: -1;

  @include toMobile {
    order: 1;
    margin-top: 28px;
    padding: 8px;
    text-align: left;
    min-width: 82px;
  }
}

.offer__country {
  font-size: 14px;
  line-height: 17px;
}

.offer__location-icon {
  margin-right: 6px;
}

.offer__day,
.offer__night {
  display: flex;
  align-items: center;
  margin: 0;

  @include toMobile {
    margin-right: 32px;
  }
}

.offer__day-span,
.offer__night-span {
  margin-left: 7px;
}
