.social {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  list-style: none;

  @include toMobile {
    display: none;
  }
}

.social__item {
  &--margin-small {
    &:not(:last-child) {
        margin-right: 14px;
    }
  }

  &--margin-medium {
    &:not(:last-child) {
        margin-right: 17px;
    }

    @include toTablet {
      &:not(:last-child) {
          margin-right: 23px;
      }
    }
  }
}

.social__link {
  display: block;
  position: relative;

  &--background {
      background-color: rgba(2, 102, 193, 0.4);
      height: 21px;
      width: 21px;
  }

  &--border {
      border: 1.3082px solid #2D383F;
      height: 29px;
      width: 29px;
  }
}

.social__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  &--white {
      fill: $white;
  }

  &--black {
      fill: #2D383F;
  }
}
