.training {
  overflow: hidden;
  margin-top: 90px;

  @include toTablet {
    margin-top: 120px;
  }

  @include toTablet {
    margin-top: 100px;
  }
}

.training__title {
  position: relative;
  font-weight: 800;
  font-size: 35px;
  line-height: 43px;
  color: $dark-blue;
  margin: 0;

  &::before {
    content: 'Обучение';
    position: absolute;
    font-weight: 800;
    font-size: 55px;
    line-height: 67px;
    color: $dark-blue;
    opacity: 0.03;
    bottom: -7px;
    left: 0;
  }

  @include toTablet {
    font-size: 25px;
    line-height: 30px;

    &::before {
      font-size: 40px;
      line-height: 49px;
    }
  }

  @include toMobile {
    font-size: 22px;
    line-height: 27px;

    &::before {
      font-size: 30px;
      line-height: 37px;
    }
  }
}

.training__text {
  margin: 0;
  margin-top: 30px;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  max-width: 70%;

  @include toMobile {
    max-width: 100%;
    margin-top: 22px;
    font-size: 14px;
    line-height: 22px;
  }
}

.training__pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;

  @include toMobile{
    margin-top: 53px;
  }
}

.training__pagination-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  color: $dark-blue;

  @include toTablet {
    font-size: 18px;
    line-height: 22px;
  }

  @include toMobile {
    font-size: 16px;
    line-height: 20px;
  }
}

.training__list {
  margin: 0;
  margin-top: 30px;
}

.training__progress {
  margin-top: 42px;
}
