$width: 1417px;
$bp-tablet: 1023px;
$bp-mobile: 767px;

$white: #FFFFFF;
$black: #000000;
$gray: #494949;
$half-gray: #9a9797;
$light-gray: #d5d4d4;
$half-blue: #0874d8;
$sky-blue: #1687f0;
$blue: #0266C1;
$dark-blue: #2D383F;
$half-dark-blue: #333e4a;
$light-blue: #ceeaf0;
$gold: #dfd88d;
$orange: #fe8300;
$box-shadow: rgba(0, 0, 0, 0.05);
$translucent-blue: rgba(2, 102, 193, 0.4);
