.about-us {
  position: relative;
  margin-top: 70px;

  &::before {
    content: '';
    position: absolute;
    background-image: url('../img/about-us/travel@1x.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 50vw;
    height: 548px;
    z-index: -1;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
      background-image: url('../img/about-us/travel@2x.jpg');
    }
  }

  @include toTablet {
    &::before {
      height: 350px;
      width: 50vh;
      background-image: url('../img/about-us/travel-tablet@1x.jpg');

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
        background-image: url('../img/about-us/travel-tablet@2x.jpg');
      }
    }
  }

  @include toMobile {
    &::before {
      width: 100vw;
      top: -50px;
    }
  }
}

.about-us__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include toMobile {
    padding-top: 300px;
  }
}

.about-us__title {
  position: relative;
  width: 46%;
  margin: 0;
  margin-top: 40px;
  font-weight: 800;
  font-size: 35px;
  line-height: 43px;
  color: $dark-blue;

  &::before {
    content: 'О нас';
    position: absolute;
    font-weight: 800;
    font-size: 55px;
    line-height: 67px;
    color: $dark-blue;
    opacity: 0.03;
    top: -15px
  }

  @include toTablet {
    width: 50%;
    font-size: 25px;
    line-height: 30px;
    margin-top: 28px;

    &::before {
      font-size: 40px;
      line-height: 49px;
    }
  }

  @include toMobile {
    width: 100%;
    font-size: 22px;
    line-height: 27px;

    &::before {
      font-size: 30px;
      line-height: 37px;
    }
  }
}

.about-us__subtitle {
  margin: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: $dark-blue;

  @include toTablet {
    font-size: 18px;
    line-height: 22px;
  }
}

.about-us__text {
  margin: 0;
  margin-top: 21px;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
}

.about-us__history,
.about-us__target {
  margin-top: 49px;
  width: 46%;

  @include toTablet {
    margin-top: 42px;
    width: 50%;
  }

  @include toMobile {
    width: 100%;
  }
}

.about-us__target {
  @include toTablet {
    width: 100%;
    margin-top: 85px;
  }

  @include toMobile {
    margin-top: 45px;
  }
}
