.main-navigation {
  padding: 0 20px;
  transition: 0.4s;

  @include toTablet {
    padding: 0;

    &--show {
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      z-index: 5;
      background-color: $dark-blue;
    }
  }
}

.main-navigation__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  @include toTablet {
    display: none;

    &--show {
      display: block;
      margin-top: 70px;
    }
  }
}

.main-navigation__item {
  font-size: 16px;
  line-height: 25px;

  &:not(:last-child) {
    margin-right: 46px;
  }

  @include toTablet {
    &:not(:last-child) {
      margin-right: initial;
    }
  }
}

.main-navigation__link {
  display: block;
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: $dark-blue;
  }

  &:active {
    opacity: 0.7;
  }

  @include toTablet {
    padding: 15px;
    border-bottom: 1px solid $gray;

    &:hover,
    &:focus {
      background-color: $half-dark-blue;
      color: $gold;
    }
  }
}

.main-navigation__label {
  display: none;
  cursor: pointer;
  width: 26px;
  height: 26px;
  z-index: 1;

  @include toTablet {
    display: flex;
    align-items: center;
  }

  @include toMobile {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 0 8px rgba(250, 250, 250, 0.1), inset 0 0 0 20px rgba(255, 255, 255, 0.1);
    border-radius: 10%;
  }

  &--hidden {
    position: absolute;
    top: 40px;
    left: 20px;
  }
}

.main-navigation__span {
  display: block;
  position: relative;
  background-color: $white;
  width: 100%;
  height: 2px;

  &::before,
  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: $white;
    left: 0;
    transition: 0.6s;
  }

  &::before {
    top: -8px;
  }

  &::after {
    bottom: -8px;
  }
}

.main-navigation__input:checked ~ .main-navigation__span {
  height: 0;
}

.main-navigation__input:checked ~ .main-navigation__span::before {
  transform: translate(-50%, -50%) rotate(45deg);
  top: 50%;
  left: 50%;
}

.main-navigation__input:checked ~ .main-navigation__span::after {
  transform: translate(-50%, -50%) rotate(-45deg);
  top: 50%;
  left: 50%;
}
