.progress {
  padding-bottom: 7px;
}

.progress__title {
  margin: 0;
  font-size: 21px;
  line-height: 26px;

  @include toTablet {
    font-size: 18px;
    line-height: 22px;
  }

  @include toMobile {
    font-size: 16px;
    line-height: 20px;
  }
}

.progress__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: 40px;
  padding-bottom: 15px;
  border-bottom: 1px solid $light-blue;

  &::before {
    content: '';
    position: absolute;
    width: calc(50vw - 50%);
    right: calc(50% - 50vw);
    bottom: -1px;
    border-bottom: 1px solid $light-blue;
  }

  &::after {
    content: '';
    position: absolute;
    width: calc(50vw - 50%);
    left: calc(50% - 50vw);
    bottom: -1px;
    border-bottom: 1px solid $light-blue;
  }

  @include toTablet {
    justify-content: space-between;
    border-bottom: none;
    padding-bottom: 0;
    background-image: url('../../img/icons/tablet-progress-bar.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;

    &::before {
      content: none;
    }

    &::after {
      content: none;
    }
  }

  @include toMobile {
    background-image: none;
    border-left: 1px solid $light-blue;
    padding-left: 44px;
  }
}

.progress__item {
  position: relative;
  padding-left: 40px;
  padding-right: 20px;
  width: 25%;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: -5px;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
  }

  &::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    bottom: -22px;
    left: 5px;
    background-color: $blue;
    border-radius: 50%;
  }

  &--map {
    &::before {
      background-image: url('../img/icons/map.svg');
    }
  }

  &--boots {
    &::before {
      background-image: url('../img/icons/boots.svg');
    }
  }

  &--mountain {
    &::before {
      background-image: url('../img/icons/mountain.svg');
    }
  }

  &--pine-tree {
    &::before {
      background-image: url('../img/icons/pine-tree.svg');
    }
  }

  @include toTablet {
    width: 234px;
    padding-right: initial;

    &:nth-child(odd) {
      margin-right: 50px;
    }

    &:nth-child(-n+2) {
      margin-bottom: 170px;
    }

    &::after {
      content: none;
    }
  }

  @include toMobile {
    width: 100%;

    &:nth-child(n) {
      margin-bottom: 24px;
      margin-right: initial;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &::after {
      content: '';
      left: -51px;
      top: 0;
    }
  }
}

.progress__text {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;

  @include toTablet {
    font-size: 14px;
    line-height: 20px;
  }
}
