.tours {
  position: relative;
  margin-top: 92px;

  &::before {
   content: '';
   position: absolute;
   width: 552px;
   height: 1240px;
   background-image: url('../../img/slider/exposure-in-mountains@1x.png');
   background-repeat: no-repeat;
   background-position: right;
   background-size: cover;
   top: -105px;
   right: 0;
   z-index: -1;

   @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    background-image: url('../../img/slider/exposure-in-mountains@2x.png');
   }
  }

  @include toTablet {
    &::before {
      content: '';
      background-size: 70%;
      top: 25px;
      height: 960px;
    }
  }

  @include toMobile {
    &::before {
      content: '';
      top: -105px;
    }
  }
}

.tours__inner {
  overflow-x: hidden;
}

.tours__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &::before {
    content: 'Близжайшие туры';
    position: absolute;
    font-weight: 800;
    font-size: 55px;
    line-height: 67px;
    color: $dark-blue;
    opacity: 0.03;
    bottom: -10px;
    left: -2px;
  }

  @include toTablet {
    &::before {
      font-size: 40px;
      line-height: 49px;
    }
  }

  @include toMobile {
    &::before {
      font-size: 30px;
      line-height: 37px;
    }
  }
}

.tours__title {
  margin: 0;
  font-weight: 800;
  font-size: 35px;
  line-height: 43px;
  color: $dark-blue;

  @include toTablet {
    font-size: 25px;
    line-height: 30px;
  }

  @include toMobile {
    font-size: 22px;
    line-height: 27px;
  }
}

.tours__list {
  margin: 0;
  margin-top: 43px;
}

.tours__link {
  text-decoration: none;
  color: $dark-blue;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  position: relative;
  padding-right: 18px;

  &::before {
    content: "";
    position: absolute;
    border-bottom: 2px solid $dark-blue;
    border-right: 2px solid $dark-blue;
    height: 7px;
    width: 7px;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);;
  }
}

.tours__footer {
  margin-top: 60px;
  text-align: center;
}
